<html>
  <head>
    <script src="/javascripts/jx.js"></script>
    <meta name="google-site-verification" content="FPIqkWrI0y1Df3kA_2DN7lJfkqG4Sk1h6gCfja19zLk" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>
